<nav class="navbar navbar-inverse" role="navigation" style="background-color: #cf2323; border-color: #cf2323;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="/"><img src="/static/img/red.png" style="background-color:#666666;" class="logo"> Jaqpot</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            {% if token %} <!-- If user is logged in -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Data</li>
                            <li>
                                <a href="/substance">Create Dataset</a>
                            </li>
                            <li class="dropdown-header">Modelling</li>
                            <li>
                                <a href="/train">Train a model</a>
                            </li>
                            <li>
                                <a href="/predict">Make a prediction</a>
                            </li>
                            <li class="dropdown-header">Validate</li>
                            <li>
                                <a href="/ext_valid_model">External Validation</a>
                            </li>
                             <li>
                                <a href="/validate?method=cross">Cross Validation</a>
                            </li>
                             <li>
                                <a href="/validate?method=split">Split Validation</a>
                            </li>
                            <li class="dropdown-header">Experimental Design</li>
                             <li>
                                <a href="/experimental">Iterative Experimental Design</a>
                            </li>
                            <li>
                                <!-- <a href="/exp_design">No data available</a> -->
                                <a href="/exp_design">Factorial Design</a>
                            </li>
                            <li class="dropdown-header">Other tasks</li>
                            <li class="dropdown-header">Interlab Testing</li>
                                <li>
                                    <a href="/interlab_substance">Interlab testing</a>
                                </li>
                            <li class="dropdown-header">Read Across</li>
                                <li>
                                    <a href="/read_across_dataset">Read Across Train</a>
                                </li>
                                <li>
                                    <a href="/read_across_predict">Read Across Predict</a>
                                </li>
                            <!--<li>
                                <a href="/conformer">Calculate descriptors</a>
                            </li>  -->

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My resources <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">QSAR</li>
                            <li>
                                <a href="/model">Model</a>
                            </li>
                            <li>
                                <a href="/algorithm">Algorithm</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dataset</li>
                            <li>
                                <a href="/data">Dataset</a>
                            </li>
                            <!-- <li>
                                <a href="/compound">Compound</a>
                            </li>
                            <li>
                                <a href="/conformer">Conformer</a>
                            </li>
                            <li class="divider"></li> -->
                            <li class="dropdown-header">Other resources</li>
                             <li>
                                <a href="/reports">Reports</a>
                            </li>
                            <li>
                                <a href="/bibtex">BibTex</a>
                            </li>

                             <li>
                                <a href="/features">Features</a>
                            </li>
                            <!--<li class="divider"></li>
                            <li class="active">
                                <a href="#">Separated link</a>
                            </li>
                            <li class="divider"></li>
                            <li class="disabled">
                                <a href="#">One more separated link</a>
                            </li>  -->
                        </ul>
                    </li>
                     <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experimental Design <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Experimental Design </li>
                            <li>
                                <a href="/experimental">Data available</a>
                            </li>
                            <li>
                                <a href="/exp_design">No data available</a>
                            </li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="/interlab_substance">Interlab testing</a>
                    </li> -->

                </ul>

                <a href="/task" class="bt-grey btn" data-toggle="tooltip" title="Tasks" style="margin: 7px; background-color:#666666; border-color:#666666;">
                    <i class="glyphicon glyphicon-align-left"></i>
                </a>
                     <span class="user-info">
                        Welcome back, <a href="/user">{{username}}</a>
                        <a href="/logout"><span class="glyphicon glyphicon-off"></span></a>
                        </span>
            {% else %} <!-- If user hasn't logged in -->
                <a class="btn bt-grey navbar-btn" href="/login">Sign in</a>
                <a class="btn bt-grey navbar-btn" href="https://login.jaqpot.org/auth/realms/jaqpot-legacy/protocol/openid-connect/auth?client_id=account&response_type=code">Create Account</a>

                <!--<a class="btn bt-grey navbar-btn" href="http://old.opentox.org/join_form">Create Account</a>-->
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-search search-only"><i class="search-icon glyphicon glyphicon-search hoverable"></i>
                        <input class="form-control search-query">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    $('[data-toggle="tooltip"]').tooltip({
    'placement': 'bottom'
});
</script>