<nav class="navbar navbar-inverse" role="navigation" style="background-color: #cf2323; border-color: #cf2323;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="/"><img src="/static/img/red.png" style="background-color:#666666;" class="logo"> Jaqpot</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            {% if token %} <!-- If user is logged in -->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Actions</li>
                            <li>
                                <a href="/substance">Create Dataset</a>
                            </li>
                            <li>
                                <a href="/train">Train a model</a>
                            </li>
                            <li>
                                <a href="/predict">Predict</a>
                            </li>
                            <li>
                                <a href="/validate">Validate</a>
                            </li>
                            <!-- <li>
                                <a href="/conformer">Calculate descriptors</a>
                            </li> -->

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My resources <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">QSAR</li>
                            <li>
                                <a href="/model">Model</a>
                            </li>
                            <li>
                                <a href="/algorithm">Algorithm</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Chemical dataset</li>
                            <li>
                                <a href="/data">Dataset</a>
                            </li>
                            <li>
                                <a href="/compound">Compound</a>
                            </li>
                            <li>
                                <a href="/conformer">Conformer</a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Other resources</li>
                            <li>
                                <a href="/bibtex">BibTex</a>
                            </li>

                             <li>
                                <a href="/features">Features</a>
                            </li>
                            <!--<li class="divider"></li>
                            <li class="active">
                                <a href="#">Separated link</a>
                            </li>
                            <li class="divider"></li>
                            <li class="disabled">
                                <a href="#">One more separated link</a>
                            </li>  -->
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Experimental Design <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Experimental Design </li>
                            <li>
                                <a href="/experimental">With input</a>
                            </li>
                            <li>
                                <a href="/exp_design">Without input</a>
                            </li>
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="/interlab_substance">Interlab testing</a>
                    </li>

                </ul>

                <a href="/task" class="bt-grey btn" data-toggle="tooltip" title="Tasks" style="margin: 7px; background-color:#666666; border-color:#666666;">
                    <i class="glyphicon glyphicon-align-left"></i>
                </a>
                     <span class="user-info">
                        Welcome back, <a href="/user">{{username}}</a>
                        <a href="/logout"><span class="glyphicon glyphicon-off"></span></a>
                        </span>
            {% else %} <!-- If user hasn't logged in -->
                <a class="btn bt-grey navbar-btn" href="/login">Sign in</a>
                <a class="btn bt-grey navbar-btn" href="http://www.opentox.org/join_form">Create Account</a>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-search search-only"><i class="search-icon glyphicon glyphicon-search hoverable"></i>
                        <input class="form-control search-query">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    $('[data-toggle="tooltip"]').tooltip({
    'placement': 'bottom'
});
</script>