{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;">
    <h1>Add BibTex</h1>
    <form action="/add_bibtex" method="post">{% csrf_token %}
        <div>
            <label class="align">Author:</label>
            <label class="align">{{form.author}}</label>
        </div>
        <div>
            <label class="align">Title:</label>
            <label class="align">{{form.title}}</label>
        </div>
        <div>
            <label class="align">Abstract:</label>
            <label class="align">{{form.abstract}}</label>
        </div>
        <div>
            <label class="align">Copyright:</label>
            <label class="align">{{form.copyright}}</label>
        </div>
        <div>
            <label class="align">Address:</label>
            <label class="align">{{form.address}}</label>
        </div>
        <div>
            <label class="align">Year:</label>
            <label class="align">{{form.year}}</label>
        </div>
        <div>
            <label class="align">Pages:</label>
            <label class="align">{{form.pages}}</label>
        </div>
        <div>
            <label class="align">Volume:</label>
            <label class="align">{{form.volume}}</label>
        </div>
        <div>
            <label class="align">Journal:</label>
            <label class="align">{{form.journal}}</label>
        </div>
        <div>
            <label class="align">Keywords:</label>
            <label class="align">{{form.keyword}}</label>
        </div>
        <div>
            <label class="align">Url:</label>
            <label class="align">{{form.url}}</label>
        </div>
        <br>
        {% if error %}
					<div class="alert alert-danger" role="alert" style="width:20%">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{error}}</span>
					</div>
				{% endif %}
        <input type="submit" class="btn btn-danger" value="Add" />
    </form>

</div>
{% endblock %}