{% extends "base.html" %}

{% load templates_extras %}

{% block content %}
<form method="post" id="form1" enctype="multipart/form-data"> {% csrf_token %}
<div class="div-table" style="width:100%; display: inline-block; padding:10px;">
    <a id="back" class="btn bt-red" style="width:3%;" ><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
    <br>
    {% if error %}
        <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;margin-top:10px;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>{{error}}</span>
        </div>
    {% endif %}
    <div style="float:left; width:50%;">
            <h1>Algorithm</h1>
            <h3>Title: {{algorithms}}</h3>
            {% if al.meta.titles %}
                <div>
                    <label class="align">Title:</label>
                    <input type="text" style="margin:5px;width:40%;" readonly="readonly" value="{{al.meta.titles.0}}">
                </div>
            {% endif %}
            {% if al.publisher %}
                <div>
                    <label class="align">Publisher:</label>
                    <input type="text" style="margin:5px;" value="{{al.publisher}}">
                </div>
            {% endif %}
            {% if al.contributor %}
                <div>
                    <label class="align">Contributor:</label>
                    <input type="text" style="margin:5px;" value="{{al.contributor}}">
                </div>
            {% endif %}
            {% if al.date %}
                <div>
                    <label class="align">Date:</label>
                    <input type="text" style="margin:5px;" value="{{al.date}}">
                </div>
            {% endif %}
            {% if al.parameters %}
                <h6><b>Parameters:</b></h6>
                 {% for p in al.parameters%}
                    <div >
                        <label class="align">{{p.name}}:</label>
                        {% if p.allowedValues %}
                        <select name="{{p|get:'_id'}}">
                            {% for s in p.allowedValues %}
                            {% if s|get_type == "list" %}
                            <option value="{{s.0}}" {% if p.value == s %} selected {% endif %}>{{s.0}}</option>
                            {% else %}
                            <option value="{{s}}" {% if p.value == s %} selected {% endif %}>{{s}}</option>
                            {% endif %}
                            {% endfor %}
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                            <span class="glyphicon glyphicon-info-sign" data-bind=""></span>
                        </select>
                        {% elif p.minValue %}
                        {% if p.value|get_type == "list" %}
                                {% if p.value.0|get_type == "unicode" %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value|joinby:','}}">
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                    <span class="glyphicon glyphicon-info-sign" data-bind=""></span>
                                {% elif p.value.0|get_type == "int" %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value.0|intiger}}">
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                    <span class="glyphicon glyphicon-info-sign" data-bind=""></span>
                                {%else %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value='{%for x in p.value%}{{x}}{%endfor%}'>
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                    <span class="glyphicon glyphicon-info-sign" data-bind=""></span>
                                {% endif %}
                        {%else %}
                            <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value='{{p.value}}'>
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                            <span class="glyphicon glyphicon-info-sign" data-bind=""></span>
                        {% endif %}
                        <p><small><b>Min value:</b>{{p.minValue}}   <b>Max value:</b>{{p.maxValue}}</small></p>
                        <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                        {% else%}
                            {% if exp %}
                            {% if p.value|get_type == "list" %}
                                {% if p.value.0|get_type == "unicode" %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value|joinby:','}}">
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                {% elif p.value.0|get_type == "int" %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value.0|intiger}}">
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                {%else %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value='{%for x in p.value%}{{x}}{%endfor%}'>
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                                {% endif %}
                            {%else%}
                            <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value}}">
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                            {%endif %}
                        {% else %}
                            {% if p.value|get_type == "int" %}
                                    <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value|intiger}}">
                                    <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                            {%else %}
                                 <input type="text" name="{{p|get:'_id'}}" style="margin:5px;" value="{{p.value}}">
                                 <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|get:'_id'}}">
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                 {% endfor %}
            {% endif %}
            {% if al.rights %}
                <p><b>Copyright:</b></p>
                <textarea class="form-control" rows="3" readonly="readonly" style="margin:5px;">{{al.info.rights}}

                </textarea>
            {% endif %}
        <br>
        {% if not exp %}
         <h3>Fill in the title and description of the produced model</h3>
        <div>
            <label class="align" >Model name:</label>
            {% if tform.modelname.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{tform.modelname.errors.as_text}}</span>
               </div>
            {% endif %}
            {{tform.modelname}}
        </div>
        <br>
        <p><b>Model description:</b></p>
         {% if tform.description.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{tform.description.errors.as_text}}</span>
               </div>
            {% endif %}
        {{tform.description}}
        {% endif %}

    </div>
    <div style="float:right; width:50%;">
        <h5>Select variables :</h5>
        {% if tform.variables.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{tform.variables.errors.as_text}}</span>
               </div>
            {% endif %}
        {{tform.variables}}
        </div>

    <div id="input" style="float:right; width:50%; border: 3px solid #cf2323;padding:5px;margin:0 0 5px; border-radius:5px;display:none;">
        {% if exp %}
            <h5><input type="radio" name="radio1" value="I/O" style="display:none;">Select Input variable(s):</h5>
        {% else %}
            <h5><input type="radio" name="radio1" value="I/O" style="display:none;">Select Input variable(s) and endpoint:</h5>
        {% endif %}

        <div style="float:left; width:50%;" >

        <h5>Input variable(s)</h5>
            {% if inputform.input.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;margin-bottom: 0px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{inputform.input.errors.as_text}}</span>
               </div>
            {% endif %}
            <input type="checkbox" name="selectallfeatures" id= "selectallfeatures" ><b>Select All</b>
        <div style="overflow:scroll; height:300px;">
            {% for in in inputform.input %}
                <label class="algorithms" style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;" for="">
                     {{in}}</label>
            {% endfor %}
            </div>

            </div>

        <div style="float:left; width:50%">
            <h5>Endpoint</h5>
                 {% if inputform.output.errors %}
                   <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;margin-bottom: 0px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span>{{inputform.output.errors.as_text}}</span>
                   </div>
                {% endif %}
               <br>
            <div style="overflow:scroll; height:300px;">
                {% for output in inputform.output %}
                    <label class="algorithms" style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;" for="">
                        {{output}}</label>
                {% endfor %}
                </div>

                </div>

        </div>
    <div id="PMML" style="float:right; width:50%; border: 3px solid #cf2323;padding:5px;margin:0 0 5px; border-radius:5px;display:none;">

        <div>
            <h5><input type="radio" name="radio1" value="PMML" style="display:none;">Select PMML:</h5>
            {{pmmlform.pmml}}

            <br>
        </div>
        {% if not exp%}
            <div>
                <h5>Select Prediction Feature:</h5>
                   {{pmmlform.predicted_feature}}
                <br>
            </div>
        {% endif %}
    </div>
    <div id="file" style="float:right; width:50%; border: 3px solid #cf2323;padding:5px;margin:0 0 5px; border-radius:5px;display:none;">

        <h5><input type="radio" name="radio1" value="PMML file" style="display:none;">Upload a PMML with transformations(optional):</h5>
        {% if uploadform.file.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{uploadform.file.errors.as_text}}</span>
               </div>
            {% endif %}
        {{uploadform.file}}
        {% if not exp %}
            <h5>Select Prediction Feature:</h5>
                {{uploadform.feature}}
        {% endif %}

    </div>
     {% if not exp %}
         <div id="none" style="float:right; width:50%; border: 3px solid #cf2323;padding:5px;margin:0 0 5px; border-radius:5px;display:none;">

            <h5>Select endpoint:</h5>
                {{nform.pred_feature}}

        </div>
     {% endif %}
    <br>
    <br>
    <div style="float:right; width:50%;">
        <h3>Select scaling method:</h3>
        {{tform.scaling}}
        {% if not exp %}
        <h3>Select domain of applicability method:</h3>
        {{tform.doa}}
        {% endif %}
        <br>
        <br>

         <!-- <a href="/change_params?data={{dataset}}&alg={{algorithms}}" class="btn bt-red" style="width:10%; float:left; left:10%;" >Train</a> -->
        {% if exp %}
            <input id="choose_alg" type="submit" value="Experimental design" class="btn bt-red" style="width: 30%; float:left; left:10%;">
        {% else %}
            <input id="choose_alg" type="submit" value="Train" class="btn bt-red" style="width: 10%; float:left; left:10%;">
        {% endif %}
    </div>

    </div>
</form>

<script>

     $("select").selecter();

     $('#id_variables_0').click(function() {
            $("#input").show();
            $("#file").hide();
            $("#PMML").hide();
            $("#none").hide();
     });
      if($('#id_variables_1').is(':checked')) {
            $("#input").hide();
            $("#file").hide();
            $("#PMML").show();
            $("#none").hide();
     }
     $('#id_variables_1').click(function() {
            $("#input").hide();
            $("#file").hide();
            $("#PMML").show();
            $("#none").hide();
     });
      if($('#id_variables_2').is(':checked')) {
            $("#input").hide();
            $("#file").show();
            $("#PMML").hide();
            $("#none").hide();
     }
      $('#id_variables_2').click(function() {
            $("#input").hide();
            $("#file").show();
            $("#PMML").hide();
            $("#none").hide();
     });
      if($('#id_variables_3').is(':checked')) {
            $("#input").hide();
            $("#file").hide();
            $("#PMML").hide();
            $("#none").show();
     }
     $('#id_variables_3').click(function() {
            $("#input").hide();
            $("#file").hide();
            $("#PMML").hide();
            $("#none").show();
     });
     $('#back').click(function(event) {
       history.go(-1);
     });

   $(document).ready(function() {
    $('#selectallfeatures').click(function(event) {  //on click
        if(this.checked) { // check select status
            $('.input').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('.input').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });

    if($('#id_variables_0').is(':checked')) {
        $("#input").show();
        $("#file").hide();
        $("#PMML").hide();
        $("#none").hide();
     }

    $( "input[name='output']" ).on(
        {
          'change' : function( )
                     {
                       $.each( $( "input[name='output']" ),
                               function( )
                               {
                                 var ObjectId, ObjectValue;

                                 if( $(this).is(':checked') )
                                 {
                                   /*Checked radio button OBJECT */
                                   ObjectId    = $(this).attr( 'id' );     /* Id of above Jquery object */
                                   //get number of id
                                   num = ObjectId.split('output_')[1]
                                   if(  $("#id_input_"+num).is(':checked') ){
                                        $("#id_input_"+num).prop("checked", false);
                                   }
                                 }

                               }
                             );
                     }
        }
     );




});
</script>

{%endblock%}