<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/red.png" type="image/png">
    <title>Jaqpot</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/static/js/site.min.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/promise-0.1.1.min.js"></script>
    <script src="/static/js/marvinjslauncher.js"></script>
    <script src="/static/dist/handsontable.full.min.js"></script>
    <script src="/static/js/editable.min.js"></script>
    <script src="/static/js/editor.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="static/DataTables-1.10.5/media/css/jquery.dataTables.css">
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="static/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>
    <!-- Handsontable css -->
    <link rel="stylesheet" media="screen" href="/static/dist/handsontable.full.min.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="/static/css/site.min.css" media="all">
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/jquery.fs.selecter.js"></script>
    <link href="/static/css/jquery.fs.selecter.css" rel="stylesheet">
    <!-- Javascript function for searching  -->
    <script src="/static/js/search.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    {% block header %}
    {% endblock %}
</head>
<body>
     {% include "util/menu.html" %}

        <div class="wrapper">
		    {% block content %}
		    {% endblock %}
            <!--Footer -->
            <div class="push"></div>
        </div>

        <div class="footer" id="footer">
            <div class="container">
                <div class="clearfix">
                    <div class="footer-logo">
                        <a href="/"> <img src="/static/img/enm_logo.png" style="background-color:#FFFFFF;" class="logo" height="20px">Jaqpot</a>
                    </div>
                    <dl class="footer-nav">
                        <dt class="nav-title">SOURCE</dt>
                        <dd class="nav-item">
                            <a href="https://github.com/KinkyDesign">Source</a></dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">DOCUMENTATION</dt>
                            <dd class="nav-item">
                            <a href="/documentation">Docs</a></dd>

                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">ISSUES</dt>
                        <dd class="nav-item"><a href="https://github.com/KinkyDesign/JaqpotQuattroUI/issues" >Issues</a></dd>
                    </dl>
                </div>
            <div class="footer-copyright text-center">
                Copyright © 2015 KinkyDesign.All rights reserved.
            </div></div>

        </div>




</body>
</html>
