{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;">
    <h1>Bibtex Entry</h1>
    <table id="bib-info" style="margin:10px;">
        <tr>
            <th>Author(s):</th>
            <td>{{ details.author }}</td>
        </tr>
        <tr>
            <th>Title:</th>
            <td>{{ details.Title }}</td>
        </tr>
         <tr>
            <th>Abstract:</th>
            <td>{{ details.Abstract }}</td>
        </tr>
         <tr>
            <th>Copyright:</th>
            <td>{{ details.Copyright }}</td>
        </tr>
         <tr>
            <th>Address:</th>
            <td>{{ details.Address }}</td>
        </tr>
        <tr>
            <th>Year:</th>
            <td>{{ details.Year }}</td>
        </tr>
        <tr>
            <th>Pages:</th>
            <td>{{ details.Pages }}</td>
        </tr>
        <tr>
            <th>Volume:</th>
            <td>{{ details.Volume }}</td>
        </tr>
        <tr>
            <th>Journal:</th>
            <td>{{ details.Journal }}</td>
        </tr>
        <tr>
            <th>Keywords:</th>
            <td>{{ details.Keywords }}</td>
        </tr>
        <tr>
            <th>Url:</th>
            <td><a href="{{ details.Url }}">{{ details.Url }}</a></td>
        </tr>
    </table>
    <!--<p>BibTeX:</p>
    <textarea id ="text" class="form-control" rows="4">

    </textarea> -->
    <br>

</div>


<script>

// Inject the whole content string into our existing HTML table
$('#bib-info').append(tableContent);

</script>

{% endblock %}