{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%;">
    <a href="/add_bibtex" class="btn btn-danger" data-toggle="tooltip" title="Add BibTex"><i class="glyphicon glyphicon-plus-sign"></i></a>
    <br>
    <table id="results" style="margin:10px;">
        <tr>
            <th>Author</th>
            <th>Title</th>
        </tr>
        {% for l in list_of_bibtex %}
        <tr>
            <td>{{l.author}}</td>
            <td><a href="/bib_detail?id={{l.id}}">{{l.information}}</a></td>
        </tr>
        {% endfor%}
    </table>
    <div id="pageNavPosition" class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                    {% if list_of_bibtex.has_previous %}
                        <li class="active">
                        <a href="?page={{ list_of_bibtex.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="active">
                        <a href="#">Previous</a>
                        </li>
                    {% endif %}
                        {% for num in list_of_bibtex.paginator.page_range %}
                        {% ifequal num list_of_bibtex.number %}
                           <li><a href="?page={{num}}"><b>{{num}}</b></a></li>
                        {% else %}
                                <li><a href="?page={{num}}">{{num}}</a></li>
                        {% endifequal%}
                        {% endfor %}

                    {% if list_of_bibtex.has_next %}
                        <li class="active">
                        <a href="?page={{ list_of_bibtex.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                            <li class="active">
                        <a href="#">Next</a>
                        </li>
                    {% endif %}
                    </ul>
                </span>
            </div>

</div>

<script>
// For each item in our JSON, add a table row and cells to the content string

/*var data = [
    {id:1, author:'Sarimveis H., Alexandridis A., Bafas G.', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:2, author:'Sarimveis H., Alexandridis A., Bafas G.', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:3, author:'Sarimveis H., Alexandridis A., Bafas G.', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:4, author:'Sarimveis H., Alexandridis A., Bafas G.', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:5, author:'Sarimveis H., Alexandridis A., Bafas G', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:6, author:'Sarimveis H., Alexandridis A., Bafas G', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:7, author:'Sarimveis H., Alexandridis A., Bafas G', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:8, author:'Sarimveis H., Alexandridis A., Bafas G', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
    {id:9, author:'Sarimveis H., Alexandridis A., Bafas G', information:'A fast training algorithm for RBF networks based on subtractive clustering'},
];
var tableContent = "";
$.each(data, function(){
    tableContent += '<tr>';
    tableContent += '<td> '+ this.author+'</td>';
    tableContent += '<td><a href="/bib_detail?id=' +this.id+ '" class="linkshowuser" rel="' + this.name + '" title="Show Details">' + this.information + '</a></td>';
    tableContent += '</tr>';
});

// Inject the whole content string into our existing HTML table
$('#results').append(tableContent);

// Instantiate pagination after data is available
pager = new Pager('results', 10);
pager.init();
pager.showPageNav('pager', 'pageNavPosition');
pager.showPage(1);

// pagination object codes.
function Pager(tableName, itemsPerPage) {
    this.tableName = tableName;
    this.itemsPerPage = itemsPerPage;
    this.currentPage = 1;
    this.pages = 0;
    this.inited = false;

    this.showRecords = function (from, to) {
        var rows = document.getElementById(tableName).rows;
        // i starts from 1 to skip table header row
        for (var i = 1; i < rows.length; i++) {
            if (i < from || i > to) rows[i].style.display = 'none';
            else rows[i].style.display = '';
        }
    }

    this.showPage = function (pageNumber) {
        if (!this.inited) {
            alert("not inited");
            return;
        }

        var oldPageAnchor = document.getElementById('pg' + this.currentPage);
        oldPageAnchor.className = 'pg-normal';

        this.currentPage = pageNumber;
        var newPageAnchor = document.getElementById('pg' + this.currentPage);
        newPageAnchor.className = 'pg-selected';
        newPageAnchor.className = 'active';

        var from = (pageNumber - 1) * itemsPerPage + 1;
        var to = from + itemsPerPage - 1;
        this.showRecords(from, to);
    }

    this.prev = function () {
        if (this.currentPage > 1) this.showPage(this.currentPage - 1);
    }

    this.next = function () {
        if (this.currentPage < this.pages) {
            this.showPage(this.currentPage + 1);
        }
    }

    this.init = function () {
        var rows = document.getElementById(tableName).rows;
        var records = (rows.length - 1);
        this.pages = Math.ceil(records / itemsPerPage);
        this.inited = true;
    }

    this.showPageNav = function (pagerName, positionId) {
        if (!this.inited) {
            alert("not inited");
            return;
        }
        var element = document.getElementById(positionId);
        var pagerHtml = '<ul class="pagination">  <li class="active"><a onclick="' + pagerName + '.prev();">PREV</a></li> ';
        for (var page = 1; page <= this.pages; page++)
            pagerHtml += '<li id="pg' + page + '" class="pagination"><a onclick="' + pagerName + '.showPage(' + page + ');">' + page + '</a></li>  ';
        pagerHtml += '<li class="pagination active "><a onclick="' + pagerName + '.next();">NEXT</a></li></ul>';
        element.innerHTML = pagerHtml;
    }
}*/
//display tooltip right
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});
</script>
{% endblock %}
