{% extends "base.html" %}

{% block content %}
<form action="/contact" method="post">{% csrf_token %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Contact</h4>
        </div>
        <div class="modal-body">
            <p>Feel free to contact us for any issues you might have.</p>

            {% if form.non_field_errors %}
                <p class="error">
                      {% for error in form.non_field_errors %}
                            {{error}}
                      {% endfor %}
                </p>
           {% endif %}
           <!-- Iterate over the fields in a form and render them  -->
           {% for field in form %}
            <div class="row">
                <div class="col-xs-6">
                    <!-- Render the field label tag -->
                    {{ field.label_tag }}
                    <!-- If the field is required, display a * next to the field label -->
                    {% if field.field.required %}
                        *
                    {% endif %}
                    <br/>
                    <!-- Render the input field -->

                    {{ field }}

                    <!-- Iterate over the field's errors, if any and display
                     them one by one in a error alert-->
                    {% if field.errors %}
                        <p class="error">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endfor%}
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Send</button>
        </div>
    </div>
</div>

</form>
{%endblock%}