{% extends "base.html" %}

{% block content %}
<form method="post">{% csrf_token %}
<div class="div-table" style="width:100%; display: inline-block">
    <h4>Select Descriptors</h4>

     <label>
         <input type="checkbox" id= "selectall" >Select All</label>
    <br>
    <div>
    {% for desc in descriptors %}
             <label style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;">
                    <input type="checkbox" class="check" name="checkbox" id= "check" value="{{desc.id}}">{{desc.name}}. {{desc.description}}</label>
    {%endfor%}
        <br>
    <h4>Fill in the title and description of the produced dataset</h4>
        <div>
            <label class="align" >Title:</label>
             {% if form.title.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{form.title.errors.as_text}}</span>
               </div>
            {% endif %}
            {{form.title}}
        </div>
         <p><b>Description:</b></p>
          {% if form.description.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{form.description.errors.as_text}}</span>
               </div>
            {% endif %}
            {{form.description}}
    </div>
    <br>
    <input id="previous" type="button" value="Previous" class="btn bt-red" style="width: 10%; float:left; left:10%;">
    <input id="choose_desc" type="submit" value="Next" class="btn bt-red" style="width: 10%; float:right; right:10%;">
</div>
</form>

<script>
    $(document).ready(function() {
    $('#previous').click(function(event) {  //on click
        history.go(-1);
    });
    $('#selectall').click(function(event) {  //on click
        if(this.checked) { // check select status
            $('.check').each(function() { //loop through each checkbox
                this.checked = true;
            });
        }
        else{
            $('.check').each(function() { //loop through each checkbox
                this.checked = false;
        });
        }
    });
    });
</script>
{% endblock %}