{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%; min-height:650px;">
    <h1>Documentation:</h1>
    <a href="http://app.jaqpot.org:8080/jaqpot/swagger/" style="font-size:24px;">Swagger</a>
    <br/>
    <a href="http://www.enanomapper.net/library/jaqpot-quattro-ui" style="font-size:24px;">Tutorial on Creating datasets, Training and validating models and making predictions</a>
    <br/>
    <a href="http://www.enanomapper.net/library/modelling-services" style="font-size:24px;">Video tutorial on Creating datasets, Training and validating models and making predictions</a>
    <br/>
    <a href="http://www.enanomapper.net/library/jaqpot-quattro-ui-p2" style="font-size:24px;">Tutorial on Experimental design, Interlaboratoty comparison and Read across</a>
    <br/>
    <a href="http://www.enanomapper.net/library/modelling-services-p2" style="font-size:24px;">Video tutorial on Experimental design, Interlaboratoty comparison and Read across</a>
    <br/>
</div>

{% endblock %}
