{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;display:inline-block;">
    {% if server_error %}
    <h3>Jaqpot server does not respond</h3>
    <input id="details" value="More Details" class="btn bt-red" style="width: 7%;">
    <div id="error_details" style="display:none">
        <h6>Error : {{server_error}}</h6>
    </div>
    {%elif error.errorReport%}
        <h3>Error Message:</h3>
        <h6>{{error.errorReport.message}}</h6>
        <h3>Error Details:</h3>
        <h6>{{error.errorReport.details}}</h6>
    </div>
    {% elif error.message %}
        <h3>Error: {{error.message}}</h3>
        <h6>{{error.details}}</h6>
    {% else %}
        <h3>Error:</h3>
        <h6>{{error}}</h6>
    {% endif %}
    </div>

<script>
    $('#details').click(function() {
            if ( $("#error_details").css('display') == 'none' ){
                 $("#error_details").show();
            }
            else{

                $("#error_details").hide();
            }
             });
</script>
{% endblock %}