{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;">
    <a href="/addfeature" class="btn btn-danger" data-toggle="tooltip" title="Add Feature"><i class="glyphicon glyphicon-plus-sign"></i></a>
    <br>
    <h4>Features</h4>
    {% load endless %}
    <ul>
        {% paginate 20 features %}
        {% for f in features %}
        <li><a href="/feature_detail?name={{f.name}}">{{f.name}}</a></li>
        {% endfor %}
    </ul>
    {% get_pages %}
    <div id="pageNavPosition" class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        {% if pages.previous %}
                            <li class="active">
                                {{ pages.previous}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Previous</a>
                            </li>
                        {%endif%}
                        {% for page in pages %}
                        <li>{{page}}</li>
                        {%endfor%}

                        {% if pages.next %}
                            <li class="active">
                                {{ pages.next}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Next </a>
                            </li>
                        {%endif%}

                   </ul>
                </span>
            </div>

</div>

<script>

//display tooltip right
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});
</script>

{% endblock %}