{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;">
    {% if error %}
        <h1>{{error}}</h1>
    {% else %}
        <a href="/addfeature" class="btn btn-danger" data-toggle="tooltip" title="Add Feature"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <br>
        <h4>Features</h4>
        {% load endless %}
        <div class="list-group">
            {% paginate 20 features %}
            {% for f in features %}
                <a href="/feature_detail?name={{f.name}}" class="list-group-item">{{f.name}}<span style="float: left; left:50%; position:absolute; overflow: hidden; white-space: nowrap;width: 50%;text-overflow: ellipsis;">{{f.meta.titles.0}}</span></a>
            {% endfor %}
        </div>
        {% get_pages %}
        <div id="pageNavPosition" class="pagination">
                    <span class="step-links">
                        <ul class="pagination">
                            <li class="active">
                            {% if page|add:"0" >= 2 %}
                            <a href="/features?page={{page|add:-1}}">Previous</a>
                            {% else %}
                            <a href="/features?page={{page}}">Previous</a>
                            {%endif %}
                        </li>
                        <!--<li><a href="/features?page={{page}}"><strong>{{page}}</strong></a></li> -->
                        {% load templates_extras %}
                        {% for i in 15|get_range %}
                            {% if i == page %}
                                <li><a href="/features?page={{page}}"><strong>{{page}}</strong></a></li>
                            {% else %}
                             <li><a href="/features?page={{i}}">{{i}}</a></li>
                            {% endif %}
                            {% endfor %}

                        <li class="active">
                            {% if last %}
                                    <a href="/features?page={{last}}">Next</a>
                            {%else%}
                                <a href="/features?page={{page|add:1 }}">Next </a>
                            {% endif %}
                        </li>
                       </ul>
                    </span>
                </div>
    {% endif %}

</div>

<script>

//display tooltip right
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});
</script>

{% endblock %}