{% extends "base.html" %}

{% block content %}

<!-- <div class="col-md-8" style="position: absolute; top:20%; left:10%;">  -->
    <!--<div id="side-bar" class="span2" style="position:fixed; right:3%;" >
        <video width="320" height="240" controls>
        <source src="static/video/VideoLogo.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
    </div> -->
    <!--    <div class="pricing">
            <ul>
                <li class="unit price-primary">
                    <div class="price-title">
                        <h3>Explore</h3>
                    </div>
                    <div class="price-body">
                        <h4>Step 1</h4>
                        <p>Explore chemical dataset</p>
                        <ul><li>Explore dataset</li>
                            <li>Explore compound</li>
                            <li>Explore conformer</li>
                        </ul>
                    </div>
                    <div class="price-foot">
                        {% if token %}
                        <a class="btn btn-primary" href="/explore">EXPLORE</a>
                        {% else %}
                        <a class="btn btn-primary" href="/login">EXPLORE</a>
                        {% endif %}

                    </div>
                </li>
                <li class="unit price-success active">
                    <div class="price-title">
                        <h3>Train</h3>
                    </div>
                    <div class="price-body">
                        <h4>Step 2</h4>
                        <p>Train a model</p>
                        <ul><li>Choose algorithms</li>
                            <li>Choose a dataset</li>
                            <li>Define algorithm parameters</li>
                        </ul>
                    </div>
                    <div class="price-foot">
                        {% if token %}
                        <a class="btn btn-success" href="/train">TRAIN</a>
                        {% else %}
                        <a class="btn btn-success" href="/login">TRAIN</a>
                        {% endif %}
                    </div>
                </li>
                <li class="unit price-warning">
                    <div class="price-title" style="background-color:#da4453;">
                        <h3>Predict</h3>
                    </div>
                    <div class="price-body" style="background-color:#faedff;">
                        <h4>Step 3</h4>
                        <p>Predict a property</p>
                        <ul style="border-top: 1px solid #da4453;"><li>Choose conformer</li>
                            <li>Choose feature</li>
                            <li>Choose model</li>
                        </ul>
                    </div>
                    <div class="price-foot">
                        {% if token %}
                        <a class="btn btn-danger" href="/predict">PREDICT</a>
                        {% else %}
                        <a class="btn btn-danger" href="/login">PREDICT</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>

</div>  -->
<div class="row" style="margin: auto;width: 85%;">
            <div class="col-sm-4">
              <div class="thumbnail" style="min-height: 330px; max-height: 330px">
                <img class="img-rounded" style="height:190px;" src="static/img/data.png">
                <div class="caption text-center">
                  <h3>Create Dataset</h3>
                  <p>Select substances, properties and descriptors.</p>
                   {% if token %}
                        <p><a href="/substance" class="btn bt-red" role="button">Create Dataset</a></p>
                    {% else %}
                        <p><a href="/login" class="btn bt-red" role="button">Create Dataset</a></p>
                    {% endif %}
                </div>
              </div>
              <div class="thumbnail" style="min-height: 330px; max-height: 330px">
                <img class="img-rounded" style="height:190px;margin-right:2px;" src="static/img/valid.png">

                <div class="caption text-center">
                  <h3>NanoQSAR validation schemes</h3>
                  <p>Validate model using different validation options.</p>
                   {% if token %}
                        <p>
                            <a href="/validate?method=cross" class="btn bt-red" role="button">Cross</a>
                            <a href="/validate?method=split" class="btn bt-red" role="button">Data Split</a>
                            <a href="/ext_valid_model" class="btn bt-red" role="button">External</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="/login" class="btn bt-red" role="button">Cross</a>
                            <a href="/login" class="btn bt-red" role="button">Data Split</a>
                            <a href="/login" class="btn bt-red" role="button">External</a>
                        </p>
                    {% endif %}

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail" style="min-height: 680px; max-height: 690px">
                <img class="img-rounded" style="height:550px;width:100%;float:left;margin-bottom:10px;" src="static/img/model.png">
                <div class="caption text-center">
                  <h3>NanoQSAR modelling</h3>
                  <p>Train a model or make a prediction.</p>
                   {% if token %}
                        <p>
                            <a href="/train" class="btn bt-red" role="button">Train</a>
                            <a href="/predict" class="btn bt-red" role="button">Predict</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="/login" class="btn bt-red" role="button">Train</a>
                            <a href="/login" class="btn bt-red" role="button">Predict</a>
                        </p>
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="thumbnail" style="min-height: 210px; max-height: 220px">
                <img class="img-rounded" style="height:80px;"  src="static/img/exp.png">
                <div class="caption text-center">
                  <h3>Optimal Experimental Design</h3>
                  <p>Optimise the design of the experiments.</p>
                  {% if token %}
                        <p>
                            <a href="#" class="btn bt-red" role="button">Data available</a>
                            <a href="#" class="btn bt-red" role="button">No data available</a>
                            <!-- <a href="/experimental" class="btn bt-red" role="button">Data available</a>
                            <a href="/exp_design" class="btn bt-red" role="button">No data available</a> -->
                        </p>
                    {% else %}
                        <p>
                            <a href="/login" class="btn bt-red" role="button">Data available</a>
                            <a href="/login" class="btn bt-red" role="button">No data available</a>
                        </p>
                    {% endif %}
                </div>
              </div>
            </div>
             <div class="col-sm-4">
              <div class="thumbnail"  style="min-height: 210px; max-height: 210px">
                <img class="img-rounded" style="height:80px;" src="static/img/inter.png">
                <div class="caption text-center">
                  <h3>Interlaboratory Comparison</h3>
                  <p>Perform statistical laboratory quality control.</p>
                   {% if token %}
                        <p><a href="#" class="btn bt-red" role="button">Interlaboratory Proficiency Testing</a></p>
                        <!--/interlab_substance-->
                    {% else %}
                        <p><a href="/login" class="btn bt-red" role="button">Interlaboratory Proficiency Testing</a></p>
                    {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="thumbnail"  style="min-height: 210px; max-height: 220px">
                <img class="img-rounded" style="height:80px;" src="static/img/read.png">
                <div class="caption text-center">
                  <h3>Read Across</h3>
                  <p>Make a prediction based on the read across method on an existing dataset.</p>
                   {% if token %}
                        <p><a href="#" class="btn bt-red" role="button">Read Across</a></p>
                    {% else %}
                        <p><a href="/login" class="btn bt-red" role="button">Read Across</a></p>
                    {% endif %}
                </div>
              </div>
            </div>

            </div>




{% endblock %}