{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%;">
    {% load endless %}
        <div>
             <h1>Models</h1>
             {% if proposed %}
             <h3>Example models:</h3>
             <div class="list-group">
                     <p class="list-group-item" style="background-color:#cf2323; border-color:#cf2323;width:100%;">Name <span style="float: left; left:20%; position:absolute;">Title</span> <span style="float: left; left:40%; position:absolute;">Description</span> <span style="float: left; left:80%; position:absolute;">Date</span></p>
                     {% for p in proposed %}
                             <a href="/m_detail?name={{p.name}}" class="list-group-item" style="width:100%;">{{p.name}} <span style="float: left; left:20%; position:absolute;overflow: hidden; white-space: nowrap;width:20%;text-overflow: ellipsis;">{% for title in p.meta.titles %}{{title}} {% if title %}{% if not forloop.last %}, {%endif%}{%else%} {%endif%} {% endfor %}</span> <span style="float: left; left:40%; position:absolute; overflow: hidden; white-space: nowrap;width: 40%;text-overflow: ellipsis;">{% for desc in p.meta.descriptions%}{{desc}}{% if desc %}{% if not forloop.last %}, {%endif%}{%else%} {%endif%}{% endfor %}</span> <span class="overflow-span" style="float: left; left:80%; position:absolute;width:20%;">{{p.meta.date}}</span></a>
                    {% endfor %}
                 </div>
             {% endif %}
             {% paginate 20 models %}
                 <div class="list-group">
                     <p class="list-group-item" style="background-color:#cf2323; border-color:#cf2323;width:97%">Name <span style="float: left; left:20%; position:absolute;">Title</span> <span style="float: left; left:40%; position:absolute;">Description</span>  <span style="float: left; left:80%; position:absolute;">Date</span></p>

                     {% for m in models %}
                             <a href="/m_detail?name={{m.name}}" class="list-group-item" style="width:97%;float:left;">{{m.name}} <span class="overflow-span" style="float: left; left:20%; position:absolute;width:20%">{% for title in m.meta.titles %}{{title}} {% if title %}{% if not forloop.last %}, {%endif%}{%else%} {%endif%} {% endfor %}</span> <span style="float: left; left:40%; position:absolute;width:40%;">{% for desc in m.meta.descriptions%}{{desc}}{% if desc %}{% if not forloop.last %}, {%endif%}{%else%} {%endif%}{% endfor %}</span> <span class="overflow-span" style="float: left; left:80%; position:absolute;width:20%;">{{m.meta.date}}</span> </a>
                             <a href="/m_delete?id={{m.name}}" class="btn bt-red" data-toggle="tool" title="Delete Model" style="margin:0.1%;margin-right:0px;margin-bottom:0px;"><i class="fa fa-trash-o" style="font-size:1.75em;"></i></a>
                     <!--<li>
                            <a href="/m_detail?name={{m.name}}">{{m.name}}</a>
                         </li> -->
                    {% endfor %}
                 </div>

            {% get_pages %}
         <div id="pageNavPosition" class="pagination">
             <span class="step-links">
                    <ul class="pagination">
                        {% if pages.previous %}
                            <li class="active">
                                {{ pages.previous}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Previous</a>
                            </li>
                        {%endif%}
                        {% for page in pages %}
                        <li>{{page}}</li>
                        {%endfor%}

                        {% if pages.next %}
                            <li class="active">
                                {{ pages.next}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Next </a>
                            </li>
                        {%endif%}

                   </ul>
                </span>
         </div>
        </div>
</div>

<script>
//display tooltip right
$('[data-toggle="tool"]').tooltip({
    'placement': 'top'
});
</script>

{% endblock %}