{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%; display:inline-block">

    <h1>Model:</h1>
    <div  style="float:left;">
    <div>
        <label class="align">Name:</label>
        <input type="text" style="margin:5px;" value="{{name}}">
    </div>
    <div>
        <label class="align">Description:</label>
        <input type="text" style="margin:5px;" >
    </div>
    <h4>Parameters</h4>
    {% for d in details%}
    <div>
        <label class="align">a</label>
        <input type="text" style="margin:5px;" value="{{d.a}}" >
    </div>
    <div>
        <label class="align">b</label>
        <input type="text" style="margin:5px;" value="{{d.b}}" >
    </div>
    {% endfor %}
        </div>
    <div style="float:left; margin-left:30px; margin-bottom:5px; display:inline-block;">
        <div>
            <p><b>Some metadata:</b></p>
            <textarea id ="text" class="form-control" rows="4"></textarea>
        </div>
        <br>
        <a href="#" class="btn btn-success">PMML</a>
        <a href="#" class="btn btn-success">Predict</a>
        <h4>Validations:</h4>
        <div style="float:left;">
            <a href="#" class="btn btn-success" data-toggle="toolleft" title="Show all test-set validations">Test</a>
            <a href="#" class="btn btn-success" data-toggle="tool" title="Show all cross validations">Cross</a>
            </div>
        <div style="float:down;">
        <a href="#" class="btn btn-success" style="margin:5px; margin-left:10px;" data-toggle="tool" title="Validate the model">Validate me</a>
        </div>
    </div>
</div>

<script>

//display tooltip top
$('[data-toggle="toolleft"]').tooltip({
    'placement': 'top'
});
//display tooltip right
$('[data-toggle="tool"]').tooltip({
    'placement': 'right'
});
</script>
{% endblock %}