{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%;">
    {% load endless %}
        <div>
             <h1>Models</h1>
             {% paginate 20 models %}

                 <div class="list-group">
                     {% for m in models %}
                             <a href="/m_detail?name={{m.name}}" class="list-group-item list-group-item-success">{{m.name}}</a>
                         <!--<li>
                            <a href="/m_detail?name={{m.name}}">{{m.name}}</a>
                         </li> -->
                    {% endfor %}
                 </div>

            {% get_pages %}
         <div id="pageNavPosition" class="pagination">
             <span class="step-links">
                    <ul class="pagination">
                        {% if pages.previous %}
                            <li class="active">
                                {{ pages.previous}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Previous</a>
                            </li>
                        {%endif%}
                        {% for page in pages %}
                        <li>{{page}}</li>
                        {%endfor%}

                        {% if pages.next %}
                            <li class="active">
                                {{ pages.next}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Next </a>
                            </li>
                        {%endif%}

                   </ul>
                </span>
         </div>
        </div>
</div>

{% endblock %}