{% extends "base.html" %}

{% block content %}

<div class="div-table" style="width:100%; display:inline-block;">
    <h1>Model:</h1>
    <div  style="float:left;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; ">
    <div>
        <label class="align">Name:</label>
        <input type="text" style="margin:5px;" value="{{name}}">
    </div>
     {% if details.meta.titles %}
        <div>
        <label class="align">Title:</label>
        <input type="text" style="margin:5px;" value="{{details.meta.titles.0}}">
    </div>
     {% endif %}
        {% if details.meta.description %}
        <div>
        <label class="align">Description:</label>
         <textarea class="form-control" rows="3" readonly="readonly" style="margin:5px;width:99%;">{{details.meta.descriptions.0}}</textarea>
    </div>
     {% endif %}
     {% if alg %}
    <h4>Algorithm:</h4>
        {% if alg.meta.descriptions %}
        <p><b>Description:</b></p>
            <textarea class="form-control" rows="3" readonly="readonly" style="margin:5px;width:99%;">{{alg.meta.descriptions.0}}

            </textarea>
        {% endif %}

    {% endif %}
    <br>

     {% if required %}
        <div class="panel" style="background-color: #e6e9ed;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTree" class="collapsed grey-link">Required Features</a>

                </h4>
            </div>
            <div id="collapseTree" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                        <ul>
                            {% for r_f in required %}
                                <li><a href="{{r_f.feature}}">{{r_f.feature}}</a></li>
                            {% endfor %}
                        </ul>

                </div>
            </div>
            </div>
     {% endif %}
     {% if details.dependentFeatures %}
        <div class="panel" style="background-color: #e6e9ed;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" class="collapsed grey-link">Dependent Features</a>

                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                        <ul>
                            {% for d_f in details.dependentFeatures %}
                                <li><a href="{{d_f}}">{{d_f}}</a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            </div>
     {% endif %}
     {% if details.independentFeatures %}
        <div class="panel" style="background-color: #e6e9ed;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" class="collapsed grey-link">Independent Features</a>

                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                        <ul>
                            {% for ind_f in details.independentFeatures %}
                                <li><a href="{{ind_f}}">{{ind_f}}</a></li>
                            {% endfor %}
                        </ul>

                </div>
            </div>
            </div>
     {% endif %}
     {% if details.independentFeatures %}
        <div class="panel" style="background-color: #e6e9ed;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" class="collapsed grey-link">Predicted Features</a>

                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                        <ul>
                            {% for pr_f in details.predictedFeatures %}
                                <li><a href="{{pr_f}}">{{pr_f}}</a></li>
                            {% endfor %}
                        </ul>

                </div>
            </div>
            </div>
     {% endif %}
     <!-- {% if details.dependentFeatures %}
        <h4>Dependent Features:</h4>
        <ul>
            {% for d_f in details.dependentFeatures %}
                <li><a href="{{d_f}}">{{d_f}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if details.independentFeatures %}
        <h4>Independent Features:</h4>
        <ul>
            {% for ind_f in details.independentFeatures %}
                <li><a href="{{ind_f}}">{{ind_f}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if details.predictedFeatures %}
        <h4>Predicted Features:</h4>
        <ul>
            {% for pr_f in details.predictedFeatures %}
                <li><a href="{{pr_f}}">{{pr_f}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}  -->
        <br>
        <a href="m_pmml?name={{name}}" class="btn bt-red" data-toggle="toolleft" title="Download PMML">PMML</a>
        <a href="/predict_model?model={{name}}" class="btn bt-red" data-toggle="toolleft" title="Predict model" style="margin:3px;">Predict</a>
        <a href="/m_delete?id={{name}}" class="btn bt-red" data-toggle="tool" title="Delete Model" style="margin: 3px;"><i class="glyphicon glyphicon-remove-sign"></i></a>
         <br>
        <h4>Validations:</h4>
        <div>
            <a href="#" class="btn bt-red" data-toggle="toolleft" title="Show all test-set validations">Test</a>
            <a href="#" class="btn bt-red" data-toggle="tool" title="Show all cross validations">Cross</a>
        </div>
        <div style="float:down;">
            <a href="#" class="btn bt-red" style="margin:5px; margin-left:10px;" data-toggle="tool" title="Validate the model">Validate me</a>
        </div>

    </div>
    <!-- Modal-->
    <div id="alert" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Error</h4>
          </div>
          <div class="modal-body">
            <p>{{error}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>

      </div>
    </div>

</div>


<script>

//display tooltip top
$('[data-toggle="toolleft"]').tooltip({
    'placement': 'top'
});
//display tooltip right
$('[data-toggle="tool"]').tooltip({
    'placement': 'right'
});
{% if error %}
    //whatever conditions and js code
    $("#alert").modal()
{% endif %}

</script>
{% endblock %}