{% extends "base.html" %}

{% load templates_extras %}

{% block content %}
<form method="post" id="form1"> {% csrf_token %}

<div class="div-table" style="width:100%; display: inline-block;">
    <h4>Select parameters:</h4>
    {% if error %}
    <div class="alert alert-danger" role="alert" style="width: 40%;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{error}}</span>
               </div>
    {% endif %}
    <div id="er"></div>
    {% if al.parameters %}
                 {% for p in al.parameters%}
                    {% if p|id == "criterion" or p|id == "form" %}
                    <div>
                        <label class="align">{{p.name}}:</label>
                        {% if p.allowedValues %}
                        <select name="{{p|id}}" >
                            {% for s in p.allowedValues %}
                             {% if s|get_type == "list" %}
                            <option value="{{s.0}}" {% if p.value == s %} selected {% endif %}>{{s.0}}</option>
                            {% else %}
                            <option value="{{s}}" {% if p.value == s %} selected {% endif %}>{{s}}</option>
                            {% endif %}
                            {% endfor %}
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|id}}">
                        </select>
                        {% elif p.minValue %}
                        <input type="text" name="{{p.name}}" style="margin:5px;" value="{{p.value}}">
                        <p><small><b>Min value:</b>{{p.minValue}}   <b>Max value:</b>{{p.maxValue}}</small></p>
                        <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|id}}">
                        {% else%}
                        {% if p.value.0|get_type == "unicode" %}
                            <input type="text" name="{{p.name}}" style="margin:5px;" value="{{p.value|joinby:','}}">
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|id}}">
                        {% elif p.value.0|get_type == "int" %}
                            <input type="text" name="{{p.name}}" style="margin:5px;" value="{{p.value.0|intiger}}">
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|id}}">
                        {%else %}
                            <input type="text" name="{{p.name}}" style="margin:5px;" value='{%for x in p.value%}{{x}}{%endfor%}'>
                            <input type="text" name="parameters" style="margin:5px;display:none;" value="{{p|id}}">
                        {%endif %}
                        {%endif%}
                    </div>
                    {%endif%}
                 {% endfor %}
            {% endif %}

    <!-- <label class="align" >Levels:</label>
            {% if pform.levels.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.levels.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.levels}}
    <br>
    <label class="align" >nVars:</label>
            {% if pform.nVars.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.nVars.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.nVars}}
    <br>
    <label class="align" >factors:</label>
            {% if pform.factors.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.factors.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.factors}}
    <br>
    <label class="align" >varNames:</label>
            {% if pform.varNames.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.varNames.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.varNames}}
    <br>
    <label class="align" >nTrials:</label>
            {% if pform.nTrials.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.nTrials.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.nTrials}}
    <br>
    <label class="align" >criterion:</label>
            {% if pform.criterion.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.criterion.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.criterion}}
    <br>
    <label class="align" >form:</label>
            {% if pform.form.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{pform.form.errors.as_text}}</span>
               </div>
            {% endif %}
            {{pform.form}} -->
    <br>
    <br>

    <!-- <button id="btnAddCol">Add column</button> -->
    <table id="table" class="div-form-table display" >
             <thead>
                 <tr>
                     <th style="background-color: #cf2323; min-width: 50px;">Variables</th>
                     <th style="background-color: #cf2323; min-width: 50px;">Type</th>
                      {% for p in al.parameters%}
                         {% if p|id == "levels" %}
                            {% for i in p.value|times %}
                                <th style="background-color: #cf2323;min-width: 50px;" class="column">
                                    <p data-toggle="tooltip" data-placement="top" data-container="body">Level {{i|add:"1"}}</p>
                                </th>
                            {% endfor%}

                         {% endif %}
                     {% endfor %}
                 </tr>
             </thead>
             <tbody>
              {% for p in al.parameters%}
                        {% if p|id == "varNames" %}
                            {% for var in p.value%}
                                <tr>
                                    <td class="edit">{{var.0}}</td>

                                    <td class="option"><select class="form-control"><option value="numerical">numerical</option><option value="categorical" >categorical</option></select></td>

                                    {% for par in al.parameters%}
                                    {% if par|id == "levels" %}
                                        {% for tim in par.value|times %}
                                            <td contenteditable='true' class="edit">{{par.value|getlevel:var|getvalue:tim}}</td>
                                        {% endfor%}

                                     {% endif %}
                                 {% endfor %}
                                </tr>
                            {%endfor%}
                        {% endif %}
             {% endfor %}


             </tbody>
         </table>
    <button id="addRow" class="btn bt-red" style="margin-top:10px;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Row</button>
    <button id="delete" class="btn bt-red"  style="margin-top:10px;"><i class="fa fa-minus-circle" aria-hidden="true"></i> Delete Row</button>
     <h3>Fill in the title and description of the produced dataset</h3>
        <div>
            <label class="align" >Dataset name:</label>
            {% if tform.title.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{tform.title.errors.as_text}}</span>
               </div>
            {% endif %}
            {{tform.title}}
        </div>
        <br>
        <p><b>Dataset description:</b></p>
         {% if tform.description.errors %}
               <div class="alert alert-danger" role="alert" style="width: 250px;padding: 5px;">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span>{{tform.description.errors.as_text}}</span>
               </div>
            {% endif %}
        {{tform.description}}
    <br>

     <div id="error" style="margin-top:5px;"></div>

    <input id="choose_params" value="Experimental Design" class="btn bt-red" style="width: 15%; float:left; left:10%;">

    <div id="loading" style="display: none"><!-- Place at bottom of page -->
            <img id="loading-image" src="http://i.stack.imgur.com/FhHRx.gif" alt="Loading..." />
        </div>
    </div>

    </form>

<script>

    $('#choose_params').bind('click', function(e)
        {
            //var table= $('#table').DataTable().data()
            //var cell = table.cell[0][1];
            //cell.data( cell.find("option:selected").text() ).draw();

            var data = JSON.stringify({
                "tabledata": $('#table').DataTable().data()
            })
            //var data_json=JSON.stringify(data)
            //send via ajax for validation
            $.ajax({
                type: "POST",
                url: "/factorial_validation",
                dataType: "json",
                // contentType: 'application/json;',
                data: { 'data': data},
                success: function(error){
                   console.log("sucess")
                   if (error != ""){
                        $('.glyphicon').remove();
                        $('.data').remove();
                        document.getElementById("er").remove();
                        $('#error').prepend('<div id="er" class="alert alert-danger" role="alert" style="width: 40%;padding: 5px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="data">'+error+'</span></div>');
                   }
                   else{
                        $('<input type="hidden" name="json"/>').val(data).appendTo('#form1');
                        document.getElementById("form1").submit();
                        $("#loading").show();
                   }

                },
                error: function(error){
                    console.log(error);
                    $('#error').prepend('<div id="er" class="alert alert-danger" role="alert" style="width: 40%;padding: 5px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="data">'+error+'</span></div>');
                    /*$('<input type="hidden" name="json"/>').val(data).appendTo('#form1');
                        document.getElementById("form1").submit();
                        $("#loading").show();*/
                }
            });

            });

    $(document).ready( function () {

        var oTable = $('#table').DataTable( {
        "bJQueryUI": true,
        "bScrollCollapse": true,
        "bAutoWidth": false,
        "bPaginate":false,
        "dom": 'ft',
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "editable": true,
        "bFilter": false,



         "fnDrawCallback": function( oSettings )
         {
            $('.dataTables_scrollBody table thead tr').css({ 'height' : '0px' });
        },
        "fnInitComplete": function(oSettings, json)
         {
            $('.dataTables_scrollBody table thead tr').css({ 'height' : '0px' });
        },

        });
    //Add row
    //var counter = 3;

    $('#addRow').on( 'click', function (e) {
        var newRow = oTable.row.add( [
            "new",
            '<select class="form-control"><option value="numerical">numerical</option><option value="categorical">categorical</option></select>',
            "None",
            "None",
            "None",
        ] ).draw().nodes();
        $( newRow ).attr('contenteditable', 'true');
        //Edit new row
        $('#table tbody td .edit').editable( function( sValue ) {
            //editor.inline( this );
            /* Get the position of the current data from the node */
            var oTable = $('#table').dataTable()
            var aPos = oTable.fnGetPosition( this );

            /* Get the data array for this row */
            var aData = oTable.fnGetData( aPos[0] );

            /* Update the data array and return the value */
            aData[ aPos[2] ] = sValue;
            return sValue;
        }, { "onblur": 'submit' } ); /* Submit the form when bluring a field */
        //counter++;
        e.preventDefault()
        e.stopPropagation()
    } );

    //Edit datatable
    //$('#table').on( 'click', 'tbody td', function () {
    //    oTable.cell(this).edit();
    //} );

    $('#table tbody td.edit').editable( function( sValue ) {
        //editor.inline( this );
		/* Get the position of the current data from the node */
		var oTable = $('#table').dataTable()
		var aPos = oTable.fnGetPosition( this );

		/* Get the data array for this row */
		var aData = oTable.fnGetData( aPos[0] );

		/* Update the data array and return the value */
		aData[ aPos[2] ] = sValue;
		return sValue;
	}, { "onblur": 'submit' } ); /* Submit the form when bluring a field */


    //Delete selected row

    $('#table tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            oTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );

    $('#delete').click( function (e) {
        oTable.row('.selected').remove().draw( false );
        e.preventDefault()
        e.stopPropagation()
    } );

    //Add column
    /* $("#table thead tr th").click(function() {    
            col_num = parseInt( $(this).index() );
            console.log("column_num ="+ col_num );  
    }); */
    $('#btnAddCol').click(function (e) {
        e.preventDefault()
        e.stopPropagation()
       // var oTable = $('#table').DataTable()
        var newRow =  oTable.columns.add( [
            "new",
            "se",
            "None",
            "None",
            "None",
        ] ).draw().nodes();

    });


    } );



$('#table tbody').on( 'click', 'td.option', function () {
    var table = $('#table').DataTable();
    var cell = table.cell( this );
    $(".form-control").change(function(e) {
      //alert('change!!'); //only works if there's a change in the select dropdown on the first row
      //$(this).find('option').removeAttr("selected");
      $(this).find("option:selected").attr('selected','true');
      //$(this).addClass('selected');
      //console.log($(this).find("option:selected").text());
      //console.log(e.currentTarget)
      cell.data('<select class="form-control">'+$(this).html()+'</select>' ).draw();
    });
} );


</script>

{% endblock %}