{% extends "base.html" %}

{% block content %}
<form id= "predict_form" method="post"> {% csrf_token %}
<div class="div-table" style="width:100%; display: inline-block;">
    <a id="back" class="btn bt-red" style="width:3%; float:left;" ><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
    <br>
   <div>
       <h1>Choose method:</h1>

       <input type="radio" name="radio_method" id="radio1" checked value="select_dataset"> Select dataset.<br>
       <input type="radio" name="radio_method" id="radio2" value="upload_dataset">Upload dataset.<br>
   </div>
   <br>

   <div id="select_dataset" style="display:none;">
        <h1>Select dataset for prediction:</h1>
        <div class="form-search search-only" ><i class="search-icon glyphicon glyphicon-search"></i> <input id="filter" class="form-control search-query green-form"></div>
        <br>
        {% load endless %}
        <label class="datasets" style="background-color:#cf2323;border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;">
                Name <span style="float: left; left:20%; position:absolute;">Title</span> <span style="float: left; left:50%; position:absolute;">Description</span> </label>
            {% paginate 20 dataset %}
            {% for data in dataset %}
                <label class="datasets" style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;">
                    <input type="radio" name="radio" value="{{data.name}}">{{data.name}}<span class="overflow-span" style="float: left; left:20%; position:absolute; width:20%">{{data.title}}</span> <span class="overflow-span" style="float: left; left:50%; position:absolute;width:50%;">{{data.description}}</span> </label>

            {% endfor %}
            {% get_pages %}
            <div id="pageNavPosition5" class="pagination">
                <span class="step-links">
                    <ul class="pagination">
                        <li class="active">
                            {% if page|add:"0" >= 2 %}
                            <a href="/predict_model?model={{model}}&page={{page|add:-1}}">Previous</a>
                            {% else %}
                            <a href="/predict_model?model={{model}}&page={{page}}">Previous</a>
                            {%endif %}
                        </li>

                        <li><a href="/predict_model?model={{model}}&page={{page}}"><strong>{{page}}</strong></a></li>


                        <li class="active">
                            {% if last %}
                                    <a href="/predict_model?model={{model}}&page={{last}}">Next</a>
                            {%else%}
                                <a href="/predict_model?model={{model}}&page={{page|add:1 }}">Next </a>
                            {% endif %}
                        </li>


                   </ul>
                </span>
            </div>
        </div>
    <div id="upload_dataset" style="display:none; overflow: auto">
        <input type="text" style="display:none" id="data">

    </div>
    <br>
    <input id="choose_alg1" type="submit" value="Predict" class="btn bt-red" style="width: 10%; float:right; right:10%;">
</div>
</form>

<script>
    var image_descriptors = []
    $('#radio1').click(function() {
            $("#select_dataset").show();
            $("#upload_dataset").hide();
     });
      if($('#radio1').is(':checked')) {
            $("#select_dataset").show();
            $("#upload_dataset").hide();
     }
     $('#radio2').click(function() {
            $("#select_dataset").hide();
            $("#upload_dataset").show();
     });
      if($('#radio2').is(':checked')) {
            $("#select_dataset").hide();
            $("#upload_dataset").show();
     }

     //Back buttom
     $('#back').click(function(event) {
       history.go(-1);
     });

    // Create excel sheet
    //var file = <input type="file" id="files"  accept="image/*" onchange="readURL(this, {{i}})" /><img id="img{{i}}" src="#" alt="your image" style= "display: none">
    var data = [
    {% for i in "1" %}
        {
            {% if image %}
                "Image": '<input type="file" id="files"  accept="image/*" onchange="readURL(this, {{i}})" /><img id="img{{i}}" src="#" alt="your image" style= "display: none">',
            {% endif %}
            {% if mopac %}
                "Mopac": '<input type="file" id="files" />',
            {% endif %}
            {% for m in model_req %}
                {% if m.category == 'EXPERIMENTAL' %}
                    "{{m.name}}": "0",
                {% endif %}
            {% endfor %}

        },
    {% endfor %}

    ]

    var container = document.getElementById('upload_dataset');
    var hot = new Handsontable(container, {
      data: data,
      startRows: 1,
      startCols: data.length,
      height: 150,
      rowHeaders: true,
      colHeaders: true,
      contextMenu: true,
      colHeaders:[
                {% if image %}
                    '<p data-toggle="tooltip" data-placement="top" data-container="body" title="Upload an image">Image</p>',
                {% endif %}
                {% if mopac %}
                    '<p data-toggle="tooltip" data-placement="top" data-container="body" title="Upload a Mopac file">Mopac</p>',
                {% endif %}
                {% for m in model_req %}
                   '<p data-toggle="tooltip" data-placement="top" data-container="body" title="Units: {{m.units}} Conditions: {% for k,v in m.conditions.iteritems %}{{k}}:{{v}}, {% endfor %}">{{m.name}}</p>',
                {% endfor %}
      ],
      columns: [
            {% if image %}
               { data: "Image", renderer: "html", type: 'checkbox' },
            {% endif %}
            {% if mopac %}
               { data: "Mopac", renderer: "html"},
            {% endif %}
           {% for m in model_req %}
                {% if m.category == 'EXPERIMENTAL' %}
                    { data: "{{m.name}}"},
                {% endif %}
            {% endfor %}
        ],
      stretchH: 'all',
      contextMenuCopyPaste: {
          swfPath: '/static/dist/zeroclipboard/ZeroClipboard.swf'
      },
      afterRender: function(){
            //Display tooltip after handsontable render.
            $('[data-toggle="tooltip"]').tooltip({
                container : 'body'
              });
        },
      //create upload form in the first cell if user add row
      afterCreateRow: function(index){
        {% if image %}
           var next = index+1
           hot.setDataAtCell(index, 0, '<input type="file" id="files"  accept="image/*" onchange="readURL(this, '+next+')" /><img id="img'+next+'" src="#" alt="your image" style= "display: none">')
        {% endif %}
    },

    });


    //search the selected dataset from the list
$(document).ready(function(){
    search("#filter", ".datasets", "#filter-count");
});



$(document).ready(function(){

    $('#predict_form').on('submit', function(e){
        e.preventDefault();
        if($('#radio1').is(':checked')){
            this.submit();
        }
        else{
            $.ajax({
                    url: '/predict_model',
                    type: 'POST',
                    data: {
                    csrfmiddlewaretoken: '{{csrf_token}}' ,
                    excel_data: JSON.stringify( hot.getData() ),
                    img_desc : image_descriptors,
                    },
                    cache: 'false',
                    success: function(){
                    window.location.replace("/");
                 }
                });

        }
    });
});

function readURL(input, i) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img'+i)
                    .attr('src', e.target.result)
                    .width(10)
                    .height(10);
                //send data uri via ajax
                $.ajax({
                    url: '/calculate_image_descriptors',
                    type: 'GET',
                    data: {
                        row: i ,
                        data_uri: e.target.result,
                    },
                    cache: 'false',
                    success: function(data){
                        alert(data)
                        image_descriptors[i-1]=data
                        console.log(i)
                        console.log(image_descriptors)
                 }
                });
            };

            reader.readAsDataURL(input.files[0]);

        }

    }


</script>
{% endblock%}