{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;display:inline-block;">
    {% if response.parameters %}
                <h6><b>Parameters:</b></h6>
                 {% for k,v in response.parameters.structures.0.items%}
                    <div >
                        <label class="align">{{k}}:</label>
                        <input type="text" name="parameters" style="margin:5px;display:none;" value="{{v}}">
                        <button type="button" id="btn-{{k}}" data-toggle="tooltip" title="Edit {{k}}" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></button>
                        <button type="button" id="btn-{{k}}-save" class="btn btn-success" style="display:none">Save</button>
                        <button type="button" id="btn-{{k}}-cancel" class="btn btn-danger" style="display:none">Cancel</button>
                    </div>
                 {% endfor %}
    {% endif %}

    </div>

{% endblock %}

<script>

//Edit author field
{% for k,v in response.parameters.structures.0.items%}
edit( $( '#btn-{{k}}' ), $( '#in-{{k}}' ), $( '#btn-{{k}}-save' ),  $( '#btn-{{k}}-cancel' ), '/{{k}}', "{{k}}", "{{v}}" );
{% endfor %}



//edit function is called when user push edit buttom and send via ajax the new value of field
function edit(btn, id_field, save, cancel, path , field, previous_value) {

    btn.click(function() {
    id_field.removeAttr("readonly");
    btn.hide();
    save.show();
    cancel.show();
    });

    cancel.click(function() {
        save.hide();
        cancel.hide();
        btn.show();
        id_field.attr("readonly","readonly");
        id_field.val(previous_value)

    });


    save.click(function() {
    save.hide();
    cancel.hide();
    btn.show();
    id_field.attr("readonly","readonly");
    //send via ajax new values
    $.ajax({
            type: "get",
            url: "/bib_detail",
            dataType: "json",
            contentType: 'application/json;',
            data: { 'op': 'add', 'path': path, 'value': id_field.val() , 'id': '{{id}}', },
            success: function(data){
                var json = JSON.stringify(data);
                var json = JSON.parse(json);
                 id_field.val(json[field])
            },
            error: function(){
                alert("error");
            }
        });

});

}
</script>