{% extends "base.html" %}

{% block content %}
<div class="div-table" style="width:100%;">
    <h1>Task #{{name}}</h1>
    {% if status == "running"%}
    <h3>Running task</h3>
    <div id="container" style=" width: 75%; float:right; right:80%; min-width: 310px; height: 150px; /*max-width: 500px;*/ margin: 0 auto"></div>
    <!--<div>
        <label class="align">ID:</label>
        <input type="text" id="id1" readonly="readonly" style="margin:5px" >
    </div> -->
    <div>
        <label class="align">Status:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
    </div>
    <div><label class="align">ETA:</label>
            <input type="text" id="eta" readonly="readonly" style="margin:5px" value="{{output.duration}}">
    </div>
    <div>
        <label class="align">Date:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
    </div>
    <div>
        <label class="align">Creator:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
    </div>
    <div>
        <label class="align">Http Status:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
    </div>
    <p><b>Comment:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
            {{c}}{% endfor %}
        </textarea>
    <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="2">{% for c in output.meta.descriptions %}
            {{c}}{% endfor %}
        </textarea>


        <br>
        <a href="/stoptask" class="btn btn-danger" data-toggle="tooltip" title="Stop task"><i class="glyphicon glyphicon-remove-sign"></i></a>
    {%elif status == "cancelled" %}
        <h3>This task has failed </h3>
        <div>
            <label class="align">Actor:</label>
            <input type="text" readonly="readonly" style="margin:5px" >
        </div>
        <div >
            <label class="align">Message:</label>
            <input type="text" readonly="readonly" style="margin:5px">
        </div>
        <div>
            <label class="align">Code:</label>
            <input type="text" readonly="readonly" style="margin:5px">
        </div>
        <div>
            <label class="align">Details:</label>
            <input type="text" readonly="readonly" style="margin:5px">
        </div>
        <br>
        <a href="/" class="btn btn-danger" title="Report it">Report it</a>
    {%elif status == "error" %}
        <h3>Error </h3>
        <div >
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}" >
        </div>
        <div >
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
        <div>
            <label class="align">Actor:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.actor}}" >
        </div>
        <div>
            <label class="align">Http Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}" >
        </div>
        <div>
            <label class="align">Code:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.code}}">
        </div>
        <p><b>Message:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="1">{{output.errorReport.message}}

        </textarea>
        <p><b>Comment:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
            {{c}}{% endfor %}</textarea>
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="2">{% for c in output.meta.descriptions %}
            {{c}}{% endfor %}
        </textarea>

        <p><b>Details:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="10">{{output.errorReport.details}}

        </textarea>
        <br>
        <a href="/" class="btn btn-danger" title="Report it">Report it</a>
    {%elif status == "completed" %}
        <h3>Completed task </h3>
        <div>
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
        </div>
        <div><label class="align">Duration:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.duration}}">
        </div>
        <div>
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
        <div>
            <label class="align">Http Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
        </div>
        <p><b>Comment:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
            {{c}}{%endfor%}
        </textarea>
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="2">{% for c in output.meta.descriptions%}
            {{c}}{%endfor%}

        </textarea>
        <br>
    {% endif %}
        <input id="task" value="{{task_info}}" style="display:none">


</div>




<script>

//display tooltip right
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});
/*var params_json = JSON.parse($("#task").val() )
$("#id1").val(params_json.id);
$("#status").val('{{status}}');
$("#eta").val(params_json.ETA);*/

//percentage = {{output.percentageCompleted}}
var percentage=10

//Create chart pie
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Task status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Task status',
             data : [
                [ 'Completed', percentage],
                [ 'Remaining', 100-percentage]
                ]
        }]
    });
});


</script>
{% endblock %}