{% extends "base.html" %}

{% block content %}

<div class="panel panel-danger">
    <div class="panel"  style="min-height:650px;">
        <ul id="myTab1" class="nav nav-tabs nav-justified">
            <li class="">
                <a href="#all" data-toggle="tab">All tasks</a>
            </li>
            <li class="active">
                <a href="#completed" data-toggle="tab">Completed</a>
            </li>
            <li class="active">
                <a href="#running" data-toggle="tab">Running</a>
            </li>
            <li class="active">
                <a href="#cancelled" data-toggle="tab">Cancelled</a>
            </li>
            <li class="active">
                <a href="#error" data-toggle="tab">Error</a>
                </li>
            <li class="active">
                <a href="#queued" data-toggle="tab">Queued</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="all">
                {% if not all_tasks %}
                <h2>No tasks</h2>
                {% else %}
                    <br>
                    <table id= table_all class="div-form-table display">
                        <thead>
                            <tr>
                                <th style="background-color: #A0D468;">Task</th>
                                <th style="background-color: #A0D468;">Title</th>
                                <th style="background-color: #A0D468;">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for l in all_tasks %}
                            <tr>
                                <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                                <td>{{l.meta.titles.0}}</td>
                                <td>{% if l.status == "cancelled" %}<span class="label label-danger"><i class="glyphicon glyphicon-warning-sign"></i> Cancelled </span>
                                    {% elif l.status == "running" %} <span class="label label-warning"><i class="glyphicon glyphicon-time"></i> Running</span>
                                    {% elif l.status == "error" %} <span class="label label-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Error</span>
                                    {% elif l.status == "queued" %} <span class="label label-warning"><i class="glyphicon glyphicon-sort"></i> Queued</span>
                                    {% else %} <span class="label label-success"><i class="glyphicon glyphicon-ok-sign"></i> Completed</span> {% endif%}
                                </td>

                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade " id="completed">
                {% if not list_complete %}
                <h2>No completed tasks </h2>
                {% else %}
                    <br>
                    <table id="table_complete" class="div-form-table display">
                        <thead>
                        <tr>
                            <th style="background-color: #A0D468;">Task</th>
                            <th style="background-color: #A0D468;">Title</th>
                            <th style="background-color: #A0D468;">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in list_complete %}
                        <tr>
                            <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                            <td>{{l.meta.titles.0}}</td>
                            <td>{% if l.status == "completed" %} <span class="label label-success"><i class="glyphicon glyphicon-ok-sign"></i> Completed</span> {% endif%}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="running">
                {% if not list_run %}
                <h2>No running tasks </h2>
                {% else %}
                    <br>
                    <table id="table_run" class="div-form-table display">
                        <thead>
                            <tr>
                                <th style="background-color: #FFCE54;">Task</th>
                                <th style="background-color: #FFCE54;">Title</th>
                                <th style="background-color: #FFCE54;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in list_run %}
                            <tr>
                                <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                                <td>{{l.meta.titles.0}}</td>
                                <td>{% if l.status == "running" %} <span class="label label-warning"><i class="glyphicon glyphicon-time"></i> Running</span> {% endif%}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="cancelled">
                 {% if not list_cancelled %}
                <h2>No cancelled tasks </h2>
                {% else %}
                    <br>
                    <table id="table_cancel" class="div-form-table display">
                        <thead>
                            <tr>
                                <th style="background-color: #A0D468;">Task</th>
                                <th style="background-color: #A0D468;">Title</th>
                                <th style="background-color: #A0D468;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in list_cancelled %}
                            <tr>
                                <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                                <td>{{l.meta.titles.0}}</td>
                                <td>{% if l.status == "cancelled" %}<span class="label label-danger"><i class="glyphicon glyphicon-warning-sign"></i> Cancelled </span>{% endif%}</td>
                            </tr>

                            {%endfor%}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="error">
                {% if not list_error %}
                <h2>No error tasks </h2>
                {% else %}
                    <br>
                    <table id="table_error" class="div-form-table display">
                        <thead>
                            <tr>
                                <th style="background-color: #DA4453;">Task</th>
                                <th style="background-color: #DA4453;">Title</th>
                                <th style="background-color: #DA4453;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in list_error %}
                            <tr>
                                <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                                <td>{{l.meta.titles.0}}</td>
                                <td>{%if l.status == "error" %} <span class="label label-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Error</span>{% endif%}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="tab-pane fade " id="queued">
                {% if not list_queued %}
                <h2>No queued tasks </h2>
                {% else %}
                    <br>
                    <table id="table_queued" class="div-form-table display">
                        <thead>
                            <tr>
                                <th style="background-color: #A0D468;">Task</th>
                                <th style="background-color: #A0D468;">Title</th>
                                <th style="background-color: #A0D468;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in list_queued %}
                            <tr>
                                <td><a href="/t_detail?name={{l.name}}&status={{l.status}}" class="link">{{l.name}}</a></td>
                                <td>{{l.meta.titles.0}}</td>
                                <td> {% if l.status == "queued" %} <span class="label label-warning"><i class="glyphicon glyphicon-sort"></i> Queued</span>{% endif%}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready( function () {
        $('#table_all').DataTable();
        $('#table_complete').DataTable();
        $('#table_error').DataTable();
        $('#table_run').DataTable();
        $('#table_cancel').DataTable();
        $('#table_queued').DataTable();

    } );
    $('#table_all').dataTable( {
    "order": [ 2, 'desc' ]
} );


    $('#myTab1 a:first').tab('show') ;


 $('#myTab1 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;

    });
     $("ul.pagination > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#myTab1 a[href="' + hash + '"]').tab('show');


    /*$("#pageNavPosition4").on("click", "a", function() {
        //$('#myTab1 li:eq(3) a').tab('show') ;
        //e.preventDefault();
        //$('#myTab1 a:last').tab('show') ;
        //$('#myTab1 li:eq(2) a').tab('show') ;

        window.location.hash = 'completed';


    });*/




</script>
{% endblock %}


