{% extends "base.html" %}

{% load templates_extras %}

{% block content %}
<div class="div-table" style="width:100%;">
    <h1>Task: <span  style="font-size: 20px;">{{output.meta.titles.0}}</span> <span style="font-size: 12px;">#{{name}}</span> </h1>
    {% if  output.status == "RUNNING"%}
    <h3>Running task</h3>
    <div id="container" style=" width: 75%; float:right; right:80%; min-width: 310px; height: 150px; /*max-width: 500px;*/ margin: 0 auto"></div>
    <!--<div>
        <label class="align">ID:</label>
        <input type="text" id="id1" readonly="readonly" style="margin:5px" >
    </div> -->

    {% if output.createdBy %}
    <div>
        <label class="align">Creator:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
    </div>
    {% endif %}
    {% if output.status %}
    <div>
        <label class="align">Status:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
    </div>
    {% endif %}
    {% if output.type %}
    <div>
        <label class="align">Type:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}">
    </div>
    {% endif %}

    {% if output.meta.date %}
    <div>
        <label class="align">Date:</label>
        <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
    </div>
    {% endif %}

    <div>
        <label class="align">Result:</label>
        <input type="button" style="margin:5px" class="btn btn-danger" disabled value="See result">
    </div>
     {% if output.meta.descriptions %}
    <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px; width:50%;" rows="2">{% for c in output.meta.descriptions %}
            {{c}}{% endfor %}
        </textarea>
    {% endif %}

        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <br>
        <div id='advancedOptions1' >
            <!-- Advanced info -->
            {% if output.duration %}
            <div><label class="align">ETA:</label>
                    <input type="text" id="eta" readonly="readonly" style="margin:5px" value="{{output.duration}}">
            </div>
            {% endif %}
            {% if output.httpStatus %}
            <div>
                <label class="align">Http Status:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
            </div>
            {% endif %}

            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}
             {% if output.meta.comments %}
            <p><b>Comment:</b></p>
                <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
                    {{c}}{% endfor %}
                </textarea>
            {% endif %}

        </div>

        <br>
        <a href="/stoptask?id={{name}}" class="btn btn-danger" data-toggle="tooltip" title="Stop task"><i class="glyphicon glyphicon-remove-sign"></i></a>

    {%elif output.status == "CANCELLED" %}
        <h3>This task has failed </h3>
        {% if output.actor %}
        <div>
            <label class="align">Actor:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.actor}}" >
        </div>
        {% endif %}
        {% if output.errorReport.message %}
        <div >
            <label class="align">Message:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.message}}">
        </div>
        {% endif %}
        {% if output.status %}
        <div >
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
        </div>
        {% endif %}
        {% if output.type %}
        <div >
            <label class="align">Type:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}">
        </div>
        {% endif %}
        {% if output.errorReport.code %}
        <div>
            <label class="align">Code:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.code}}">
        </div>
        {% endif %}
        {% if output.errorReport.details %}
        <div>
            <label class="align">Details:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.details}}">
        </div>
        {% endif %}
        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <br>
        <div id='advancedOptions2' >
            <!-- Advanced info -->
            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}

        </div>
        <br>
        <a href="https://github.com/KinkyDesign/JaqpotQuattroUI/issues" class="btn btn-danger" title="Report it">Report it</a>
    {%elif output.status == "ERROR" %}
        <h3>Error </h3>
        {% if output.createdBy %}
        <div >
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
         {% endif %}
        {% if output.status %}
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}" >
        </div>
         {% endif %}
        {% if output.type %}
        <div>
            <label class="align">Type:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}" >
        </div>
        {% endif %}
        {% if output.meta.date %}
        <div >
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
        {% endif %}
        {% if output.errorReport.actor %}
        <div>
            <label class="align">Actor:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.actor}}" >
        </div>
        {% endif %}
        {% if output.httpStatus %}
        <div>
            <label class="align">Http Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}" >
        </div>
        {% endif %}
        {% if output.errorReport.code %}
        <div>
            <label class="align">Code:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.code}}">
        </div>
        {% endif %}
        {% if output.errorReport.message %}
        <p><b>Message:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="1">{{output.errorReport.message}}

        </textarea>
        {% endif %}
        {% if output.meta.comments %}
        <p><b>Comment:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
            {{c}}{% endfor %}</textarea>
        {% endif %}
        {% if output.meta.descriptions %}
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="2">{% for c in output.meta.descriptions %}
            {{c}}{% endfor %}
        </textarea>
        {% endif %}
        {% if output.errorReport.details %}
        <p><b>Details:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="10">{{output.errorReport.details}}

        </textarea>
        {% endif %}

        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <br>
        <div id='advancedOptions3' >
            <!-- Advanced info -->
            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}

        </div>
        <br>
        <a href="https://github.com/KinkyDesign/JaqpotQuattroUI/issues" class="btn btn-danger" title="Report it">Report it</a>
    {%elif output.status == "QUEUED" %}

        {% if output.createdBy %}
        <div>
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
        {% endif %}
        {% if output.status %}
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
        </div>
        {% endif %}
        {% if output.type %}
        <div>
            <label class="align">Type:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}">
        </div>
        {% endif %}
        {% if output.meta.date %}
        <div>
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
        {% endif %}
        <div>
            <label class="align">Result:</label>
            <input type="button" style="margin:5px" class="btn btn-danger" disabled value="See result">
        </div>
        {% if output.meta.descriptions %}
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px; width:50%;" rows="2">{% for c in output.meta.descriptions%}
            {{c}}{%endfor%}

        </textarea>
        {% endif %}
        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <div id='advancedOptions4' >
            <!-- Advanced info -->
            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}
            {% if output.httpStatus %}
            <div>
                <label class="align">Http Status:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
            </div>
            {% endif %}
            {% if output.meta.comments %}
            <p><b>Comment:</b></p>
            <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
                {{c}}{%endfor%}
            </textarea>
            {% endif %}

        </div>
    {%elif output.status == "REJECTED" %}
        {% if output.createdBy %}
        <div>
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
        {% endif %}
        {% if output.status %}
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
        </div>
        {% endif %}
        {% if output.type %}
        <div>
            <label class="align">Type:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}">
        </div>
        {% endif %}
        {% if output.meta.date %}
        <div>
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
        {% endif %}
        {% if output.errorReport.actor %}
        <div>
            <label class="align">Actor:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.actor}}" >
        </div>
        {% endif %}

        {% if output.errorReport.code %}
        <div>
            <label class="align">Code:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.errorReport.code}}">
        </div>
        {% endif %}
         {% if output.errorReport.message %}
        <p><b>Message:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="1">{{output.errorReport.message}}

        </textarea>
        {% endif %}
         {% if output.meta.comments %}
        <p><b>Comment:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
            {{c}}{%endfor%}
        </textarea>
        {% endif %}
         {% if output.meta.descriptions %}
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px" rows="2">{% for c in output.meta.descriptions%}
            {{c}}{%endfor%}

        </textarea>
        {% endif %}
        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <div id='advancedOptions5' >
            <!-- Advanced info -->
            {% if output.duration %}
            <div><label class="align">Duration:</label>
                    <input type="text" id="duration_rej" readonly="readonly" style="margin:5px" value="{{output.duration}}">
            </div>
            {% endif %}
            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}
            {% if output.httpStatus %}
            <div>
                <label class="align">Http Status:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
            </div>
            {% endif %}

        </div>
    {% elif output.status == "COMPLETED" %}
        {% if output.createdBy %}
        <div>
            <label class="align">Creator:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.createdBy}}">
        </div>
        {% endif %}
        {% if output.status %}
        <div>
            <label class="align">Status:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.status}}">
        </div>
        {% endif %}
        {% if output.type %}
        <div>
            <label class="align">Type:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.type}}">
        </div>
        {% endif %}

         {% if output.meta.date %}
        <div>
            <label class="align">Date:</label>
            <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.date}}">
        </div>
         {% endif %}

        <div>
            <label class="align">Result:</label>
            {% if 'model' in output.result %}
            <a href="/m_detail?name={{output.result|split:'/'}}" class="btn btn-danger" title="See result">See result</a>
            {% elif 'dataset' in output.result %}
                {% if 'model' in output.meta.titles.0 %}
                    <a href="/predicted_dataset?name={{output.result|split:'/'}}&model={{output.meta.titles.0|split:'model '}}" class="btn btn-danger" title="See result">See result</a>
                {% else %}
                     <a href="/data_detail?name={{output.result|split:'/'}}" class="btn btn-danger" title="See result">See result</a>
                {% endif %}
            {% elif 'report' in output.result %}
                <a href="/report?name={{output.result|split:'/'}}" class="btn btn-danger" title="See result">See result</a>
            {% else %}
            <a href="/" class="btn btn-danger" title="See result">See result</a>
            {% endif %}
        </div>
        {% if output.meta.descriptions %}
        <p><b>Description:</b></p>
        <textarea class="form-control" readonly="readonly" style="margin:5px; width:50%;" rows="2">{% for c in output.meta.descriptions%}
            {{c}}{%endfor%}

        </textarea>
        {% endif %}
        <br>
        <a class="advanced btn btn-danger" data-toggle="tooltip" title="Advanced info"><i class="glyphicon glyphicon-plus-sign"></i></a>
        <br>
        <div id='advancedOptions' >
            <!-- Advanced info -->
            {% if output.resultUri %}
            <div>
                <label class="align">URI:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.resultUri}}">
            </div>
            {% endif %}
            {% if output.result %}
            <div>
                <label class="align">Result:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.result}}">
            </div>
            {% endif %}
            {% if output.meta.hasSources %}
            <div>
                <label class="align">Sources:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.meta.hasSources.0}}">
            </div>
            {% endif %}
             {% if output.duration %}
            <div><label class="align">Duration:</label>
                    <input type="text" id="duration" readonly="readonly" style="margin:5px" value="{{output.duration}}">
            </div>
            {% endif %}
            {% if output.httpStatus %}
            <div>
                <label class="align">Http Status:</label>
                <input type="text" readonly="readonly" style="margin:5px" value="{{output.httpStatus}}">
            </div>
            {% endif %}
             {% if output.meta.comments %}
            <p><b>Comment:</b></p>
            <textarea class="form-control" readonly="readonly" style="margin:5px" rows="5">{% for c in output.meta.comments %}
                {{c}}{%endfor%}
            </textarea>
            {% endif %}

        </div>
        <br>
    {% endif %}
        <input id="task" value="{{task_info}}" style="display:none">
     <!-- <a href="/t_delete?id={{name}}" class="btn btn-danger" data-toggle="tooltip" title="Delete task"><i class="glyphicon glyphicon-remove-sign"></i></a> -->


</div>




<script>

//display tooltip right
$('[data-toggle="tooltip"]').tooltip({
    'placement': 'right'
});


var percentage = {{output.percentageCompleted}}
function chart(percentage){
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Task status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Task status',
             data : [
                [ 'Completed', percentage],
                [ 'Remaining', 100-percentage]
                ]
        }]
    });
    }
{% if output.status == "RUNNING"%}
//Create chart pie
$(function (){
     chart(percentage);
});
{% endif %}
//Add ms to duration input field
$('#duration').val($('#duration').val() + 'ms');
$('#duration_rej').val($('#duration_rej').val() + 'ms');

//Update running task percentage each 30 sec
var seconds = 5;

timerId = setInterval(function(){
    //get via ajax new values
    $.ajax({
            type: "get",
            url: "/t_detail",
            dataType: "json",
            contentType: 'application/json;',
            data: { 'output': '{{output}}', 'name': '{{name}}', },
            success: function(data){
                {% if output.status == "RUNNING" %}
                //if percentageCompleted has changed then reload page
                if (data.percentageCompleted != percentage){
                location.reload();
                }
                {% endif %}
                console.log(data.status)
                console.log({{data.status}})
                if (data.status != "{{output.status}}"){
                location.reload();
                }
            },
            error: function(){
                console.log("error");
            }
        });

}, seconds * 1000)

{% if output.status == "COMPLETED" %}
    clearInterval(timerId);
{% endif %}
{% if output.status == "ERROR" %}
    clearInterval(timerId);
{% endif %}
{% if output.status == "CANCELLED" %}
    clearInterval(timerId);
{% endif %}

</script>
<!-- Show-Hide advanced info  -->
<script type='text/javascript'>
    $(document).ready(function () {
        $('#advancedOptions').hide();
        $('#advancedOptions1').hide();
        $('#advancedOptions2').hide();
        $('#advancedOptions3').hide();
        $('#advancedOptions4').hide();
        $('#advancedOptions5').hide();
        $('.advanced').click(function() {
            if ($('#advancedOptions').is(':hidden')) {
                 $('#advancedOptions').slideDown();
            } else {
                 $('#advancedOptions').slideUp();
            }
            if ($('#advancedOptions1').is(':hidden')) {
                 $('#advancedOptions1').slideDown();
            } else {
                 $('#advancedOptions1').slideUp();
            }
            if ($('#advancedOptions2').is(':hidden')) {
                 $('#advancedOptions2').slideDown();
            } else {
                 $('#advancedOptions2').slideUp();
            }
            if ($('#advancedOptions3').is(':hidden')) {
                 $('#advancedOptions3').slideDown();
            } else {
                 $('#advancedOptions3').slideUp();
            }
            if ($('#advancedOptions4').is(':hidden')) {
                 $('#advancedOptions4').slideDown();
            } else {
                 $('#advancedOptions4').slideUp();
            }if ($('#advancedOptions5').is(':hidden')) {
                 $('#advancedOptions5').slideDown();
            } else {
                 $('#advancedOptions5').slideUp();
            }
        });
    });
</script>
{% endblock %}