{% extends "base.html" %}

{% load templates_extras %}

{% block content %}
<form method="post" id="form1"> {% csrf_token %}
<div class="div-table" style="width:100%; display: inline-block;">
    <a id="back" class="btn bt-red" style="width:3%; float:left;" ><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
    <br>
    {% if validate %}
        <h1>Validate</h1>
    {% else %}
        <h1>Train model</h1>
    {% endif %}
    <div class="form-search search-only" style="float:right; right:5%;"><i class="search-icon glyphicon glyphicon-search"></i> <input id="filter" class="form-control search-query green-form"></div>
    <h4>Choose Algorithm</h4>
    {% if error%}
        <h6 style="color:red">{{error}}</h6>
    {% endif %}
    <div style="float:left; width:50%">
        <h3>Regression</h3>
        {% load endless %}
        <div>
             {% paginate 20 regression_alg  %}
             {% for e in regression_alg %}
                <label class="algorithms" style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;">
                    <input type="radio" name="radio" value="{{e|get:'_id'}}">{{e.meta.titles.0}}</label>
            {% endfor %}

            {% get_pages %}
         <div id="pageNavPosition" class="pagination">
             <span class="step-links">
                    <ul class="pagination">
                        {% if pages.previous %}
                            <li class="active">
                                {{ pages.previous}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Previous</a>
                            </li>
                        {%endif%}
                        {% for page in pages %}
                        <li>{{page}}</li>
                        {%endfor%}

                        {% if pages.next %}
                            <li class="active">
                                {{ pages.next}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Next </a>
                            </li>
                        {%endif%}

                   </ul>
                </span>
            </div>
        </div>
    </div>
    <div style="float:left; width:50%">
        <h3>Classification</h3>
        {% load endless %}
        <div>
             {% paginate 20 classification_alg %}
             {% for e in classification_alg %}
                <label class="algorithms" style="border: 1px solid #ccc;padding:5px;margin:0 0 5px;display:block; width:99%;">
                    <input type="radio" name="radio" value="{{e|get:'_id'}}">{{e.meta.titles.0}}</label>
            {% endfor %}

            {% get_pages %}
         <div id="pageNavPosition1" class="pagination">
             <span class="step-links">
                    <ul class="pagination">
                        {% if pages.previous %}
                            <li class="active">
                                {{ pages.previous}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Previous</a>
                            </li>
                        {%endif%}
                        {% for other_page in pages %}
                        <li>{{other_page}}</li>
                        {%endfor%}

                        {% if pages.next %}
                            <li class="active">
                                {{ pages.next}}
                            </li>
                        {% else%}
                        <li class="active">
                                <a href="#">Next </a>
                            </li>
                        {%endif%}

                   </ul>
                </span>
            </div>
        </div>

    </div>

   <!--<a href="/dataset" class="btn btn-success" style="width:10%; float:right; right:10%;" >Save</a> -->
    <input id="choose_alg" type="submit" value="Next" class="btn bt-red" style="width: 10%; float:right; right:10%;">

    <input id="id_alg" style="display:none">

</div>
     </form>


<script>

    /* $('input[name=checkbox]').click(function(){
        //get value of all checked checkboxes
        var checkedAlg = $('input[name=checkbox]:checked').map(function() {
        return this.value;
        }).get();
        var data=[]
        for (i = 0; i < checkedAlg.length; i++) {
            data[i]={'algorithm' : checkedAlg[i] }
        }
        //convert to json format
        checkedAlg = JSON.stringify(data)
        $('#id_alg').val(checkedAlg)
        })

$('#choose_alg').bind('click', function(e){

            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '/train/',
                data: checkedAlg,
                success: function(result) {
                        document.write(result)
                        }
    });

});  */

//search
$(document).ready(function(){

     $('#back').click(function(event) {
       history.go(-1);
     });

    $("#filter").keyup(function(){

        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;

        // Loop through the comment list
        $(".algorithms").each(function(){

            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();

            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });

        // Update the count
        var numberItems = count;
        $("#filter-count").text("Number of Comments = "+count);
    });
});
</script>
{% endblock %}